openapi: 3.1.0
info:
  title: China Clara API
  version: "1.0.0"
  description: |
    China, clara. 对外统一接口：内容（读懂中国）、商品目录、询盘。
    统一响应信封 { data, meta, error }。外部项目使用 PAT（Bearer pat_...）。
servers:
  - url: https://chinaclara.com/api/v1
security: []
paths:
  /content/articles:
    get:
      summary: 文章列表（公开）
      parameters:
        - { name: lang, in: query, schema: { type: string, enum: [es, en, zh], default: es } }
        - { name: topic, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 50, default: 20 } }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
  /catalog/products:
    get:
      summary: 商品列表（公开）
      parameters:
        - { name: lang, in: query, schema: { type: string, enum: [es, en, zh], default: es } }
        - { name: category, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
  /catalog/suppliers:
    get:
      summary: 已验证供应商列表（公开）
      parameters:
        - { name: lang, in: query, schema: { type: string, enum: [es, en, zh], default: es } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 50, default: 20 } }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
  /inquiries:
    get:
      summary: 我的询盘列表（scope inquiries:read；身份 = PAT 所有者）
      security: [{ pat: [] }]
      parameters:
        - { name: lang, in: query, schema: { type: string, enum: [es, en, zh], default: es } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 50, default: 20 } }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
        "401": { $ref: "#/components/responses/Envelope" }
    post:
      summary: 发起询盘（scope inquiries:write；买家 = PAT 所有者）
      security: [{ pat: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, quantity, message]
              properties:
                product_id: { type: string, format: uuid }
                quantity: { type: integer, minimum: 1 }
                target_port: { type: string }
                message: { type: string, minLength: 10, maxLength: 5000 }
      responses:
        "201": { $ref: "#/components/responses/Envelope" }
        "401": { $ref: "#/components/responses/Envelope" }
        "404": { $ref: "#/components/responses/Envelope" }
        "422": { $ref: "#/components/responses/Envelope" }
  /inquiries/{id}:
    get:
      summary: 询盘详情 + 消息线程（scope inquiries:read；仅当事双方）
      security: [{ pat: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: lang, in: query, schema: { type: string, enum: [es, en, zh], default: es } }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
        "401": { $ref: "#/components/responses/Envelope" }
        "404": { $ref: "#/components/responses/Envelope" }
  /inquiries/{id}/messages/{messageId}/translate:
    post:
      summary: 消息一键翻译（scope inquiries:read；仅当事双方；译文缓存在消息上）
      security: [{ pat: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: messageId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_lang]
              properties:
                target_lang: { type: string, enum: [es, en, zh] }
      responses:
        "200": { $ref: "#/components/responses/Envelope" }
        "401": { $ref: "#/components/responses/Envelope" }
        "404": { $ref: "#/components/responses/Envelope" }
        "422": { $ref: "#/components/responses/Envelope" }
        "503": { $ref: "#/components/responses/Envelope" }
  /inquiries/{id}/messages:
    post:
      summary: 在询盘下发消息（scope inquiries:write；发送者 = PAT 所有者）
      security: [{ pat: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 1, maxLength: 5000 }
      responses:
        "201": { $ref: "#/components/responses/Envelope" }
        "401": { $ref: "#/components/responses/Envelope" }
        "404": { $ref: "#/components/responses/Envelope" }
        "422": { $ref: "#/components/responses/Envelope" }
components:
  securitySchemes:
    pat:
      type: http
      scheme: bearer
      bearerFormat: "pat_..."
  responses:
    Envelope:
      description: 统一信封
      content:
        application/json:
          schema:
            type: object
            properties:
              data: {}
              meta: { type: object }
              error:
                type: [object, "null"]
                properties:
                  code: { type: string }
                  message: { type: string }
webhooks:
  inquiry.created:
    post:
      summary: 新询盘事件（推送到 crm.webhook_endpoints 注册的回调）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event: { type: string, const: inquiry.created }
                data: { type: object }
